{% extends "base.html" %} 

{% load i18n compress %}
{% load staticfiles %}
{% load promotion_tags %}
{% load less %}

{% block title %} Esmeer {% endblock %}


{% block mainstyles %}
{% endblock %}
			
{% block extrastyles %}
<link  rel="stylesheet" href="{{ STATIC_URL }}{% less "oscar/less/homepage-style.less" %}">
{% endblock %}
    
{% block layout %}
{# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "partials/nav_accounts.html" %}
    {% block content %}
	<main class="main-section">
	    <section class="introduction">
		<div class="introduction-text container">
		    <div class="title-banner">
			<div class="title-banner-container">
			    <img src="{% static "oscar/img/esmeer-banner.png"%}" class="img-responsive" alt="Esmeer Banner">
			</div>
		    </div>
		    <div class="search-container">
			<form class="form-horizontal search-form">
			    <input type="search" class="input-lg search-bar" placeholder="Search Products or Partners">
			    <button class="btn btn-default btn-lg search-button" type="submit">
				<span class="glyphicon glyphicon-search"></span>
			    </button>
			</form>
		    </div>
		</div>
		<br>
		<br>
		<div class="row">
		    <h2 class="mission-statement">
			CONNECTING LOCAL BUSINESSES TO THE WORLD
		    </h2>
		</div>
	    </section>
	    <section class="more-info container">
		    <div class="row">
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-check info-icon" aria-hidden="true"></span>
				<h3>
				    Trusted Partners
				</h3>
				<p>
				    Each Partner is evaluated before they join us,
				    so that you can be confident you are dealing
				    with a trustworthy and responsibility vendor.
				</p>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-star info-icon" aria-hidden="true"></span>
				<h3>
				    Reviews
				</h3>
				<p>
				    Each item is reviewed by others who have bought it,
				    so that you can be assured of its quality, and to give a
				    Partner feedback to improve their offerings.
				</p>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-map-marker info-icon" aria-hidden="true"></span>
				<h3>
				    Culturally Focused
				</h3>
				<p>
				    Each Partner is a brick-and-mortar store
				    that represents the culture of their town.
				    Get a feel for a city by browsing it's stores.
				</p>
			    </div>
			</div>
		    </div>
		    <hr>
		    <div class="row">
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-cloud info-icon" aria-hidden="true"></span>
				<h3>
				    Reliable
				</h3>
				<p>
				    Esmeer is hosted in a cloud-based platform, so it can respond
				    to requests quickly and scale along with our partners' demands.
				</p>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-transfer info-icon" aria-hidden="true"></span>
				<h3>
				    Paypal Secure
				</h3>
				<p>
				    Transactions are carried out over Paypal,
				    guaranteeing security and ease. An escrow system
				    ensures that any disputes are resolved fairly.
				</p>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-envelope info-icon" aria-hidden="true"></span>
				<h3>
				    Safe Shipping
				</h3>
				<p>
				    The products are packaged and mailed by the same
				    people who sell them, so you can be assured it is
				    done with care and expertise.
				</p>
			    </div>
			</div>
		    </div>
	    </section>
	    <section class="partners">
		<div class="container">
		    <h1 class="partners-title">FEATURED PARTNERS </h1>
		    {% for partner in partners %}
		    {% if forloop.counter0|divisibleby:3 %}
		    {% if not forloop.counter0 == 0 %}
		    </div>
		    {% endif %}
		    <div class="partner-images">
		    {% endif %}
			<img src="{{ partner.image.url }}" class="img-responsive" alt="{{ partner.name }} Image">

		    {% empty %}
		    {% endfor %}
		</div>
	    </section>
	    <section class="signup">
		<div class="container">
		    <div class="col-lg-6 customer-info">		    
			<div class="user-info">
			    <span class="glyphicon glyphicon-user signup-icon" aria-hidden="true"></span>
			    <h2 class="user-title title"> CUSTOMERS </h2>
			    <p class="user-info-text"> Users have access to unique stores around the nation which reflect the city's local culture. </p>
			    <button class="btn btn-default btn-lg user-info-button" type="submit"> SIGN UP </button>
			</div>
		    </div>
		    <div class="col-lg-6 partner-info" >
			<div class="user-info">
			    <span class="glyphicon glyphicon-shopping-cart signup-icon" aria-hidden="true"></span>
			    <h2 class="user-title title"> BUSINESSES </h2>
			    <div class="user-info-div">
				<p  class="user-info-text"> Businesses have access to consumers outside of their local market. </p>
			    </div>
   			    <button class="btn btn-default btn-lg user-info-button" type="submit"> GET IN TOUCH </button>
			</div>
		    </div>
		</div>
	    </section>
	</main>
	{% endblock %}

	{% include "partials/footer.html" %}
	{% endblock %}

	{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
    
	{% block onbodyload %}
	    $(".learn-more-button").click(function() {
	$(".more-info").fadeToggle();
	});
	{% endblock %}
