{% extends "oscar/base.html" %} 

{% load i18n compress %}
{% load staticfiles %}
{% load promotion_tags %}
{% load less %}

{% block title %} Esmeer {% endblock %}


{% block mainstyles %}
            {% comment %}
            We use an inner block to work-around the fact that django-compressor doesn't work with
            template inheritance.  Ie, we can't just wrap the {% block mainstyles %} with compress tags and
            expect it to compress CSS files added in child templates.
            {% endcomment %}
            {% block styles %}
                {% comment %}
                If you are developing Oscar's CSS, or overriding Oscar's CSS
                files in your project, then set USE_LESS = True in your
                settings file.  You will also need to ensure that the 'lessc'
                executable is available and you have COMPRESS_PRECOMPILERS specified
                correctly.
                {% endcomment %}
                <link  rel="stylesheet" href="{% static "oscar/css/bootstrap.min.css" %}">
            {% endblock %}
{% endblock %}
			
{% block extrastyles %}
{% compress css %}


<link  rel="stylesheet" href="{{ STATIC_URL }}{% less "oscar/less/homepage-style.less" %}">
{% endcompress %}
{% endblock %}

{% block extrahead %}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
{% endblock %}
    
{% block layout %}
{# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "partials/nav_accounts.html" %}
    {% block content %}
	<main class="container-fluid main-section">
	    <section class="introduction">
		<div class="introduction-text">
		    <div class="title-banner">
			<img src="{% static "oscar/img/esmeer-banner.png"%}" class="img-responsive" alt="Esmeer Banner">
		    </div>
		    <div class="search-container">
			<form class="form-horizontal search-form">
			    <input type="search" class="input-lg search-bar" placeholder="Search for Products or Partners">
			    <button class="btn btn-default btn-lg search-button" type="submit">
				<span class="glyphicon glyphicon-search"></span>
			    </button>
			</form>
		    </div>
		    <!-- <h2 class="subtitle"> SHOP COLUMBUS </h2> -->

		</div>
		<div class="row">
		    <h2 class="mission-statement">
			CONNECTING LOCAL BUSINESSES TO THE WORLD
		    </h2>
		</div>
		<!-- <div class="search-container">
		     <form class="form-horizontal search-form">
		     <input type="search" class="input-lg search-bar" placeholder="Search for Products or Partners">
		     <button class="btn btn-default btn-lg search-button" type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
		     </form>
		     </div> -->
	    </section>
	    <section class="more-info">
		    <div class="row text-center">
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-check info-icon" aria-hidden="true"></span>
				<h3>
				    Trusted Partners
				</h3>
				<p>
				    Each Partner is evaluated before they join us,
				    so that you can be confident you are dealing
				    with a trustworthy and responsibility vendor.
				</p>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-star info-icon" aria-hidden="true"></span>
				<h3>
				    Reviews
				</h3>
				<p>
				    Each item is reviewed by others who have bought it,
				    so that you can be assured of its quality, and to give a
				    Partner feedback to improve their offerings.
				</p>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-map-marker info-icon" aria-hidden="true"></span>
				<h3>
				    Culturally Focused
				</h3>
				<p>
				    Each Partner is a brick-and-mortar store
				    that represents the culture of their town.
				    Get a feel for a city by browsing it's stores.
				</p>
			    </div>
			</div>
		    </div>
		    <hr>
		    <div class="row text-center">
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-cloud info-icon" aria-hidden="true"></span>
				<h3>
				    Reliable
				</h3>
				<p>
				    Esmeer is hosted in a cloud-based platform, so it can respond
				    to requests quickly and scale along with our partners' demands.
				</p>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-transfer info-icon" aria-hidden="true"></span>
				<h3>
				    Paypal Secure
				</h3>
				<p>
				    Transactions are carried out over Paypal,
				    guaranteeing security and ease. An escrow system
				    ensures that any disputes are resolved fairly.
				</p>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="text-center">
				<span class="glyphicon glyphicon-envelope info-icon" aria-hidden="true"></span>
				<h3>
				    Safe Shipping
				</h3>
				<p>
				    The products are packaged and mailed by the same
				    people who sell them, so you can be assured it is
				    done with care and expertise.
				</p>
			    </div>
			</div>
		    </div>
	    </section>
	    <section class="partners">
		<div class="container">
		    <h1 class="partners-title">FEATURED PARTNERS </h1>
		    <div class="partner-images">
			<!-- data--100-center="width:100%" data-start="width: 0%" -->
			<img src="{% static "oscar/img/brigade.png" %}" class="img-responsive" alt="Brigade Image">
			<img src="images/embassy.png" class="img-responsive" alt="Embassy Image">
			<img src="images/eclectiques.png" class="img-responsive" alt="Eclectiques Image">
		    </div>
		    <div class="partner-images">
			<!-- data-center-center="opacity: 1" data-start="opacity: 0" -->
			<img src="images/brigade.png" class="img-responsive" alt="Brigade Image">
			<img src="images/embassy.png" class="img-responsive" alt="Embassy Image">
			<img src="images/eclectiques.png" class="img-responsive" alt="Eclectiques Image">
		    </div>
		</div>
	    </section>
	    <section class="signup">
		<div class="container">
		    <!-- <div class="col-lg-6 customer-info" data-bottom="right:100%;margin-right:-100px;" data-150-top="right:0%;margin-right:0px;"> -->
		    <div class="col-lg-6 customer-info">		    
			<div class="user-info">
			    <span class="glyphicon glyphicon-user signup-icon" aria-hidden="true"></span>
			    <h2 class="user-title title"> CUSTOMERS </h2>
			    <p class="user-info-text"> Users have access to unique stores around the nation which reflect the city's local culture. </p>
			    <button class="btn btn-default btn-lg user-info-button" type="submit"> SIGN UP </button>
			</div>
		    </div>
		    <!-- <div class="col-lg-6 partner-info" data-anchor-target=".customer-info" data-bottom="left:100%;margin-left:-100px;" data-150-top="left:0%;margin-left:0px;"> -->
		    <!-- data-anchor-target=".customer-info" data-bottom-top="transform:translate3d(0px, 200%, 0px)" data-center="transform:translate3d(0px, 0%, 0px)" -->
		    <div class="col-lg-6 partner-info" >
			<div class="user-info">
			    <span class="glyphicon glyphicon-shopping-cart signup-icon" aria-hidden="true"></span>
			    <h2 class="user-title title"> BUSINESSES </h2>
			    <div class="user-info-div">
				<p  class="user-info-text"> Businesses have access to consumers outside of their local market. </p>
			    </div>
   			    <button class="btn btn-default btn-lg user-info-button" type="submit"> GET IN TOUCH </button>
			</div>
		    </div>
		</div>
	    </section>
	    <section class="aboutus">
		<h2 class="title aboutus-title"> ABOUT US </h2>
	    </section>
	    <section class="contact">
		<h2 class="title contact-title"> CONTACT US </h2>
	    </section>
	</main>
	{% endblock %}

	{% include "partials/footer.html" %}
	{% endblock %}

	{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
    
	{% block onbodyload %}
	    $(".learn-more-button").click(function() {
	$(".more-info").fadeToggle();
	});
	{% endblock %}
