.navbar {
    form * {
	border-radius: 1px;
    }
    margin-bottom: 0px;
}

.navbar-brand{
    margin: auto;
    /* auto 0px auto 0px; */
    padding: 0px 15px 0px 15px;
}


.banner-image {
    height: 40px;
    margin-top: 5px;
}
